@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/**
  Colori palette siggerita da Ema
  A #101017 - nero (testi)
  B #CEE379 - giallo
  C #3E8AA8 - azzurro
  D #EdEFF4 - grigio chiaro
  E #FFFFF  - bianco

  variante

  B #403F46 - grigio scuro
  C #3E7DCC - azzurro più chiaro

 **/

html, 
body {
  margin: 0;
  padding: 0;
  transition: none;
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #101017;
}

/** in chrome non sovrascrive la regole deifnite in 898 e 899 di x-bootstrap-deep.css che devono essere quindi commentate **/
html /deep/ body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a:hover,
html /deep/ a:hover,
html /deep/ a:focus {
  text-decoration: none;
}

html /deep/ part-jumbotron {
  background-color: #efefef;
}

html /deep/ part-jumbotron h1,
html /deep/ part-jumbotron h2 {
  text-align: center;
}

html /deep/ part-jumbotron h1 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 400;
}

section,
html /deep/ section {
  padding-top: 20px;
  padding-bottom: 40px;
}

section .container h3,
html /deep/ section .container h3 {
  /*padding-left: 15px;*/
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
section .container h4,
html /deep/ section .container h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

section .container h3:before,
html /deep/ section .container h3:before {
  content: '/';
  color: #33f;
  font-weight: 800;
  font-size: 26px;
  vertical-align: -2px;
  padding-right: 3px;
}

section .container p,
section .container ul li,
section .container a,
html /deep/ section .container p,
html /deep/ section .container ul li,
html /deep/ section .container a {
  font-weight: 100;
  font-size: 14px;
  line-height: 1.75;
}

section.parallax,
html /deep/ section.parallax {
  height: 300px;
  background-color: #efefef;
}
