Ciao{{#fullname}} {{fullname}}{{/fullname}},

abbiamo salvato la tua email che useremo solo per inviarti aggiornameti su HACK/FABER.

In qualunque momento volessi smettere di ricevereli visita l'indirizzo http://hackfaber.com/unsubscribe/{{unsubscribe_code}}.

HACK/FABER staff
